APP_NAME="MONETA - Sistema Web de Controle Financeiro Pessoal"
APP_ENV=local
APP_URL=http://localhost:8009

APP_TIMEZONE=America/Sao_Paulo

#DB_CONNECTION=mysql
#DB_HOST=localhost
#DB_PORT=3306
#DB_DATABASE=sigeti
#DB_USERNAME=root
#DB_PASSWORD=
#DB_CHARSET=utf8mb4

DB_HOST=db
DB_PORT=3306
DB_DATABASE=moneta
DB_USERNAME=root
DB_PASSWORD=root

APP_DEVELOPER="Pedro Leandro"

EMAIL_SEND=
EMAIL_NAME=
USERNAME_SENDGRID=
PASSWORD_SENDGRID=